<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-xl">
    <div style="margin-top: 100px; margin-bottom: 100px;" class="container-xl">
          <h1> Task List</h1>
          <form action="/add" method="post">
            <div>
              <label> Task Title </label>
              <input type="text" name="title" placeholder="Enter task title">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>
          </form>
    </div>
  {% for task in task_list %}
  <div style="margin-top: 20px; margin-bottom: 20px;" class="card">
      <div style="padding-top: 40px; padding-bottom: 40px;" class="card-body">
         <h3>{{ task.id }} >> {{ task.title }}</h3>
        {% if task.complete == False %}
                <span class="ui grey label"> Not complete</span>
        {% else %}
                <span>Completed</span>
        {% endif %}
        <a type="button" class="btn btn-outline-primary" href="/update/{{ task.id }}">Update</a>
        <a type="button" class="btn btn-outline-success" href="/delete/{{ task.id }}">Delete</a>
      </div>
  </div>
  {% endfor %}


</div>
</body>
</html>